In [0]:
from pyspark.sql import SparkSession

spark=SparkSession.builder.appName("FirstNotebook").getOrCreate()
spark

In [0]:
# Exercise Set 1: Basics
# 1. Display all records in the DataFrame.
# 2. Print the schema of the DataFrame.
# 3. Count total number of employees.
from pyspark.sql import SparkSession

data = [
("Ananya", "HR", 52000),
("Rahul", "Engineering", 65000),
("Priya", "Engineering", 60000),
("Zoya", "Marketing", 48000),
("Karan", "HR", 53000),
("Naveen", "Engineering", 70000),
("Fatima", "Marketing", 45000)
]
columns = ["Name", "Department", "Salary"]

df = spark.createDataFrame(data, columns)

df.show()
df.printSchema()
df.count()

+------+-----------+------+
|  Name| Department|Salary|
+------+-----------+------+
|Ananya|         HR| 52000|
| Rahul|Engineering| 65000|
| Priya|Engineering| 60000|
|  Zoya|  Marketing| 48000|
| Karan|         HR| 53000|
|Naveen|Engineering| 70000|
|Fatima|  Marketing| 45000|
+------+-----------+------+

root
 |-- Name: string (nullable = true)
 |-- Department: string (nullable = true)
 |-- Salary: long (nullable = true)

7

In [0]:
# Exercise Set 2: Column Operations
# 4. Add a new column Bonus which is 15% of Salary.
# 5. Add a new column NetPay = Salary + Bonus.

from pyspark.sql.functions import col

bonus = df.withColumn("Bonus", col("Salary") * 0.15)
bonus.show()

netpay = bonus.withColumn("NetPay", col("Salary") + col("Bonus"))
netpay.show()

+------+-----------+------+-------+
|  Name| Department|Salary|  Bonus|
+------+-----------+------+-------+
|Ananya|         HR| 52000| 7800.0|
| Rahul|Engineering| 65000| 9750.0|
| Priya|Engineering| 60000| 9000.0|
|  Zoya|  Marketing| 48000| 7200.0|
| Karan|         HR| 53000| 7950.0|
|Naveen|Engineering| 70000|10500.0|
|Fatima|  Marketing| 45000| 6750.0|
+------+-----------+------+-------+

+------+-----------+------+-------+-------+
|  Name| Department|Salary|  Bonus| NetPay|
+------+-----------+------+-------+-------+
|Ananya|         HR| 52000| 7800.0|59800.0|
| Rahul|Engineering| 65000| 9750.0|74750.0|
| Priya|Engineering| 60000| 9000.0|69000.0|
|  Zoya|  Marketing| 48000| 7200.0|55200.0|
| Karan|         HR| 53000| 7950.0|60950.0|
|Naveen|Engineering| 70000|10500.0|80500.0|
|Fatima|  Marketing| 45000| 6750.0|51750.0|
+------+-----------+------+-------+-------+

In [0]:
# Exercise Set 3: Filtering and Conditions
# 6. Display only employees from the “Engineering” department.
# 7. Display employees whose salary is greater than 60000.
# 8. Display employees who are not in the “Marketing” department.

df.filter(col("Department") == "Engineering").show()
df.filter(col("Salary") > 60000).show()
df.filter(col("Department") != "Marketing").show()

+------+-----------+------+
|  Name| Department|Salary|
+------+-----------+------+
| Rahul|Engineering| 65000|
| Priya|Engineering| 60000|
|Naveen|Engineering| 70000|
+------+-----------+------+

+------+-----------+------+
|  Name| Department|Salary|
+------+-----------+------+
| Rahul|Engineering| 65000|
|Naveen|Engineering| 70000|
+------+-----------+------+

+------+-----------+------+
|  Name| Department|Salary|
+------+-----------+------+
|Ananya|         HR| 52000|
| Rahul|Engineering| 65000|
| Priya|Engineering| 60000|
| Karan|         HR| 53000|
|Naveen|Engineering| 70000|
+------+-----------+------+

In [0]:
# Exercise Set 4: Sorting and Limiting
# 9. Show top 3 highest paid employees.
# 10. Sort the data by Department ascending and Salary descending.

df.orderBy(col("Salary").desc()).show(3)
df.orderBy(col("Department").asc(), col("Salary").desc()).show()

+------+-----------+------+
|  Name| Department|Salary|
+------+-----------+------+
|Naveen|Engineering| 70000|
| Rahul|Engineering| 65000|
| Priya|Engineering| 60000|
+------+-----------+------+
only showing top 3 rows

+------+-----------+------+
|  Name| Department|Salary|
+------+-----------+------+
|Naveen|Engineering| 70000|
| Rahul|Engineering| 65000|
| Priya|Engineering| 60000|
| Karan|         HR| 53000|
|Ananya|         HR| 52000|
|  Zoya|  Marketing| 48000|
|Fatima|  Marketing| 45000|
+------+-----------+------+

In [0]:
# Exercise Set 5: String and Case Logic
# 11. Add a new column Level :
# “Senior” if salary > 60000
# “Mid” if salary between 50000 and 60000
# “Junior” otherwise
# 12. Convert all names to uppercase.

from pyspark.sql.functions import when, upper
level = df.withColumn(
    "Level",
    when(col("Salary") > 60000, "Senior")
    .when((col("Salary") >= 50000) & (col("Salary") <= 60000), "Mid")
    .otherwise("Junior")
)
level.show()

uppercase = df.withColumn("Name_Upper", upper(col("Name")))
uppercase.show()

+------+-----------+------+------+
|  Name| Department|Salary| Level|
+------+-----------+------+------+
|Ananya|         HR| 52000|   Mid|
| Rahul|Engineering| 65000|Senior|
| Priya|Engineering| 60000|   Mid|
|  Zoya|  Marketing| 48000|Junior|
| Karan|         HR| 53000|   Mid|
|Naveen|Engineering| 70000|Senior|
|Fatima|  Marketing| 45000|Junior|
+------+-----------+------+------+

+------+-----------+------+----------+
|  Name| Department|Salary|Name_Upper|
+------+-----------+------+----------+
|Ananya|         HR| 52000|    ANANYA|
| Rahul|Engineering| 65000|     RAHUL|
| Priya|Engineering| 60000|     PRIYA|
|  Zoya|  Marketing| 48000|      ZOYA|
| Karan|         HR| 53000|     KARAN|
|Naveen|Engineering| 70000|    NAVEEN|
|Fatima|  Marketing| 45000|    FATIMA|
+------+-----------+------+----------+